main {
    flex-grow: 1;
    padding: 120px 0 150px 0; 
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.form--input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
    padding: 8px;
}

.label {
    display: flex;
    flex-direction: column;
}

.meme--image {
    width: 75%;
    height: 30rem;
    border-radius: 3%;
}

.meme {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1%;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}


.bottom {
    bottom: 0;
}

.top {
    top: 0;
}